*{
    margin: 0;
    padding: 0;
}
html,
body,
#app{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.section{
    width: 316px;
    height: 400px;
    border: 1px solid red;
}
.layui-btn+.layui-btn{
    margin-left: 0;
}
.layui-btn{
    width: 60px;
    padding: 0px;
    margin: 2px 0;
}
.layui-input{
    outline: none;
    border: none;
    height: 60px;
    border: 5px solid #009688;
}
.layui-input:focus{
    outline: none;
}